$primaryColor: #1b54d4;
$secondaryColor: #d4571b;
$textColor: #111727;
$greyColor: #abacac;
$white: #fff;
$lightGrey: #EFF1F4;
$lightBlueMagenta: #f8f8fa;
$lightGreyYellow: #d3d3e0;
$greyishBlue: #9eaeba;
$error: crimson;
// #ecf0f4